Dear {{uName}},

We're thrilled to welcome you as a new customer at K10! ☕🍰

Thank you for choosing us for your coffee and snack needs. We can't wait to serve you our delicious offerings, whether it's your morning pick-me-up or an afternoon treat.

Stay tuned for our latest specials and promotions, and don't hesitate to reach out if you have any questions or special requests. Your satisfaction is our top priority!

Once again, welcome to the K10 family. We look forward to serving you soon.

Best regards,
Anandu
K10
