{% extends 'userindex.html' %}

{% block searchbar %}

{% endblock %}


{% block featured_products %}

{% endblock %}


{% block latest_product_section %}

{% endblock %}

{% block body %}

   
<div class="container">
    <main class="pagecontent" style="display: grid; grid-template-columns: repeat(5, minmax(130px, 1fr)); gap: 130px; margin-left: -150px; padding-left: 200px; margin-bottom: 50px;">
    {% for i in categorywise %}
    <form action="{% url 'carticon' i.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="featured__item">
                <div class="featured__item__pic set-bg" data-setbg="{{i.pImage.url}}" style="height: 100px; width: 125px; margin-top: 100px; object-fit: cover;">
                    <ul class="featured__item__pic__hover">
                        {% if i.pQuantity == 0 %}
                        <li><a href="{% url 'wishlist' i.id %}"><i class="fa fa-heart"></i></a></li>
                        <li style="color: red;">OUT OF STOCK</li>
                        {% else %}
                        <li><a href="{% url 'wishlist' i.id %}"><i class="fa fa-heart"></i></a></li>
                        <li><a href="{% url 'carttotal' %}"><button type="submit" class="btn btn-outline"><i class="fa fa-shopping-cart"></i></button></a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a href="#">{{i.pName}}</a></h6>
                    <h5>₹{{i.pPrice}}</h5>
                    <input type="hidden" name="cart_total" id="" value="{{i.pPrice}}">
                </div>  
            </div>
    </form>
    {% endfor %}
    </main>
</div>


{% endblock %}